[phases.setup]
nixPkgs = ["nodejs-18_x", "openssl"]

[phases.install]
cmds = ["npm install --prefix packages/backend --include=dev"]

[phases.build]
cmds = [
  "cd packages/backend && npx prisma generate",
  "./build.sh"
]

[start]
cmd = "cd packages/backend && bash start.sh"
