[phases.setup]
nixPkgs = ["nodejs-18_x", "openssl"]

[phases.install]
cmds = [
  "npm install --prefix packages/backend"
]

[phases.build]
cmds = [
  "./build.sh"
]

[start]
cmd = "cd packages/backend && echo '=== STARTING ===' && npx prisma generate && echo '=== PRISMA CLIENT GENERATED ===' && npx prisma migrate deploy && echo '=== MIGRATIONS DEPLOYED ===' && npm run start:prod"
