[phases.setup]
nixPkgs = ["nodejs-18_x", "openssl"]
nixpacksVersion = "1.21.0"

[phases.install]
cmds = [
  "cd packages/backend",
  "npm install"
]

[phases.build]
cmds = [
  "cd packages/backend",
  "npx prisma generate",
  "npm run build"
]

[start]
cmd = "cd packages/backend && bash start.sh"
