[phases.setup]
nixPkgs = ["nodejs-18_x", "openssl"]

[phases.install]
cmds = [
  "npm install --prefix packages/backend"
]

[phases.build]
cmds = [
  "./build.sh"
]

[start]
cmd = "cd packages/backend && echo 'Running migrations...' && npx prisma migrate deploy && echo 'Migrations complete. Starting server...' && node dist/main"
