[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "cd packages/backend && npm install"
]

[phases.build]
cmds = [
  "cd packages/backend && npx prisma generate",
  "cd packages/backend && npx tsc || true"
]

[start]
cmd = "cd packages/backend && npm run start:prod"
