[phases.setup]
nixPkgs = ["nodejs-18_x", "openssl"]

[phases.install]
cmds = ["npm install --include=dev"]

[phases.build]
cmds = [
  "npx prisma generate",
  "node_modules/.bin/tsc || exit 0"
]

[start]
cmd = "bash start.sh"
