[phases.setup]
nixPkgs = ["nodejs-18_x", "openssl"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = [
  "npx prisma generate",
  "npx tsc || echo 'TS errors ignored'"
]

[start]
cmd = "npx prisma migrate deploy && npm run start:prod"
